{% extends 'base.html' %}

{% block head %}
<title>DNAC Ops</title>
{% endblock %}

{% block body %}
<div class="content">  
        <h1> DNAC API Ops Links</h1>
        <br />
        <h2>Gather Device List from DNAC API</h2>

            <div class="form">
                <form action="/action" method="POST">
                    <label for="mac">Refresh Data</label>
                    <input type="submit" value="Collect Device List">
                </form>
            </div>   
        <br />
        <br />
        <h2>Query DNAC Device-List by IP Address</h2>

            <div class="form">
                <form action="/ip_filter_action" method="POST">
                    <label for="mac">Query DNAC</label>
                    <input type="device" name="device" id="device">
                    <input type="submit" value="Find Device by IP">
                </form>
            </div>   
        <br />
        <br />
        <h2>Query DNAC Device-List by Name</h2>

            <div class="form">
                <form action="/name_filter_action" method="POST">
                    <label for="mac">Query DNAC</label>
                    <input type="device" name="device" id="device">            
                    <input type="submit" value="Find Device by Name">
                </form>
            </div>   
        <br />
        <br />   

{% endblock %}
